*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: cursive;
    scroll-behavior: smooth;
}
.navbar {
    position: fixed;
    top: 0%;
    overflow: hidden; 
    display: block;

}

.navbar a
{
    float: left;
    display: block;
    color: #f2f2f2;
     
}

p {
    font-weight: 300;
    color: #111;
}
body
{
    min-height: 1000px;
}
.banner
{
position: relative;
width: 100;
min-height: 100vh;
display: flex;
justify-content: center;
align-items: center;
background: url(pic5.jpg);
background-size: cover
}
.banner .content
{
    max-width: 900px;
    text-align: center;
}
.banner .content h2
{ 
    font-size: 5em;
    color: #fff;
    text-decoration: wavy;
}
.banner .content p
{
    font-size: 1em;
    color: #fff;
}
.btn 
{
    font-size: 1em;
    color: #fff;
    background-color: orangered;
    display: inline-block;
    padding: 10px 30px;
    margin-top: 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5%;
}
header
{
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    padding: 40px 100px;
    z-index: 10000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5%;
}
header .sticky
{
    background: #fff;
    padding: 10px 100px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.05);
}
header .logo
{
    color: #fff;
    font-weight: 500;
    font-size: 2pc;
    text-decoration: none;

}
header .sticky .logo
{
    color: #111;
}
header .navigation
{
position: relative;
 display: flex;

}
header .navigation li
{
list-style: none;
margin-left: 40px;


}
header .navigation li a
{
    text-decoration: none;
    color: #fff;
    font-weight: 300;
       
}

header .sticky .navigation li a
{
    color: #111;
}
header .navigation li a:hover
{
    color: orangered;
}
section
{
    padding: 60px;
    
}
.row
{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.row .col50
{
    position: relative;
    width: 48%;
}
.titletext
{
    color: #111;
    font-size: 2em;
    font-weight: 300;
}
.row .col50 .imgBx
{
    position: relative;
    width: 100%;
    min-height: 300px;
    

}
.row .col50 .imgBx img
{
position: absolute;
top: 0;
left: 0;
width: 80%;
height: 100%;
object-fit: cover;
}
.col50
{
width: 100%;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}
.menu .content
{
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    margin-top: 40px;
}
.menu .content .box
{
    width: 340px;
    margin: 20px;
    border: 15px solid #fff;
    box-shadow: 0 5px 35px rgba(0,0,0,0.08);
}
.menu .content .box .imgBx
{
    position: relative;
    width: 100%;
    height: 300px;
}
.menu .content .box .imgBx img
{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.menu .content .box .text
{
    padding: 15px 0 5px;

}
.menu .content .box .text h3
{
    font-weight: 400;
    color: #111;
    font-family: cursive;

}
.expert .content
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 30px;
}
.expert .content .box
{
    width: 250px;
    margin: 15px;
}
.expert .content .box .imgBx
{
    position: relative;
    width: 100%;
    height: 300px;
}
.expert .content .box .imgBx img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.expert .content .box .text
{
    padding: 15px 0 5px;
}
.expert .content .box .text h3
{
    font-weight: 300;
    color: #111;
}

.review .content
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 40px;
}

.review .content .box
{
    width: 340px;
    margin: 20px;
    padding: 40px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.review .content .box .imgBx
{
    position: relative;
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
    border-radius: 50%;
    overflow: hidden;
}

.review .content .box .imgBx img
{
    position: absolute;
    top: 0%;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.contactform
{
padding: 75px 50px;
background: #fff;
box-shadow: 0 15px 50px rgba(0,0,0,0.1);
max-width:500;
margin-top: 50px;
}

.contactform
{
    background: lightskyblue;
    background-size: cover;
}

.contactform h3
{
    color: #111;
    font-size: 1.2em;
    margin-bottom: 20px;
    font-weight: 500;
}
.contactform .inputbox
{
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}
.contactform .inputbox input,
.contactform .inputbox textarea
{
    width: 40%;
    border: 1px solid #555;
    padding: 10px;
    color: #111;
    outline: none;
    font-size: 16px;
    font-weight: 300;
    resize: none;
}
.contactform .inputbox input[type="submit"]
{
    font-size: 1em;
    color: #fff;
    background: orangered;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 00.5%;
    max-width: 100px;
    font-weight: 500;
    border: none;
    cursor: pointer;
}
